.main-dash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
@media (max-width:1200px) {
    .main-dash{
        justify-content: flex-start;
        margin-top: 2rem;
    }
  }

  @media (max-width:798px) {
  .main-dash{
    align-items: center;
  }
}